<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About Us<br></h2>
      <p>At NKPC Kidney Clinic, we are dedicated to providing exceptional kidney care through state-of-the-art
        treatments and compassionate support. Our team of highly skilled nephrologists and healthcare professionals
        work tirelessly to ensure every patient receives personalized care tailored to their unique needs.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">
        <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.png" class="img-fluid" alt="about NKPC clinic">
          <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
        </div>
        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
          <h3>Your Partner in Kidney Health and Wellness</h3>
          <p class="fst-italic">
            We believe in holistic and patient-centered care, ensuring the highest quality of treatment and support
            for every individual.
          </p>
          </p>
          <ul>
            <li><i class="bi bi-check2-all"></i> <span>Advanced diagnostic and treatment facilities for all
                kidney-related issues.</span></li>
            <li><i class="bi bi-check2-all"></i> <span>Highly experienced specialists committed to your health and
                well-being.</span></li>
            <li><i class="bi bi-check2-all"></i> <span>Comprehensive patient care from diagnosis to recovery and
                follow-up.</span></li>
          </ul>
          <p>
            At NKPC Kidney Clinic, your health is our priority. We are here to guide you through every step of your
            journey towards better kidney health with unwavering support and cutting-edge medical care.
          </p>
        </div>
      </div>

    </div>

  </section><!-- /About Section -->