<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon"><i class="fas fa-heartbeat icon"></i></div>
            <h4><a href="" class="stretched-link">Kidney Health</a></h4>
            <p>Comprehensive care for kidney health, from early detection to advanced treatments, ensuring optimal
              renal function.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon"><i class="fas fa-pills icon"></i></div>
            <h4><a href="" class="stretched-link">Dialysis Services</a></h4>
            <p>State-of-the-art dialysis facilities, tailored to meet patient needs with utmost care and comfort.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon"><i class="fas fa-thermometer icon"></i></div>
            <h4><a href="" class="stretched-link">Nephrology Consultation</a></h4>
            <p>Expert consultations for managing chronic kidney diseases and personalized treatment plans.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="fas fa-dna icon"></i></div>
            <h4><a href="" class="stretched-link">Preventive Care</a></h4>
            <p>Educating patients about lifestyle choices and preventive measures to protect kidney health.</p>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Featured Services Section -->